/* -- GENERAL -- */
html, body, h3, p {
    margin: 0;
}

svg {
    height: 2em;
}

.container {
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: min-content auto;
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content";
}

/* -- HEADER -- */
.header {
    background-color: white;
    padding: 10px 50px;
    grid-area: header;
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 4em 6em;
    
    /* -- MÉRETEKET ÁTÍRNI! -- */
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header > * {
    align-items: center;
    justify-content: right;
}

.header img {
    height: 3em;
}

.search {
    display: grid;
    grid-template-columns: 2em 10fr;
    gap: 20px;
    
}

.search input#search {
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(200, 200, 200);
    border-color: rgb(200, 200, 200);
    height: 2.5em;
    width: 1fr;
}

.profile {
    display: flex;
    gap: 20px;
    font-weight: bold;
    font-size: large;
    padding-right: 10px;
}

.welcome {
    display: grid;
    grid-template-columns: 5em 4fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
    font-weight: bold;
    justify-items: left;
    align-items: center;
}

.welcome > * {
    margin: 0;
}

.welcome img {
    grid-row: 1 / 3;
    height: 5em;

}

.welcome .welcome-message {
    align-self: last baseline;
}

.welcome .user-name {
    font-size: x-large;
    align-self: first baseline;
}

.header-buttons {
    display: flex;
    gap: 20px;
}

.header button {
    background-color: dodgerblue;
    color: white;
    padding: 10px 30px;
    border-radius: 30px;
    border-color: dodgerblue;
    font-weight: bold;
}


/* -- SIDEBAR -- */
.sidebar {
    padding: 20px;
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
}

.sidebar-logo {
    font-size: x-large;
}

.setting {
    font-size: larger;
    display: contents;
}

.sidebar-logo,
.settings-group {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    align-items: center;
    gap: 10px;
}

.sidebar-logo svg,
.setting svg {
    fill: white;
    height: 2em;
    justify-self: center;
}


/* -- MAIN CONTENT -- */
.main-content {
    background-color: rgb(200, 200, 200);
    padding: 20px;
    grid-area: main-content;
    display: grid;
    gap: 30px;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: min-content auto;
    grid-template-areas: 
    'cards-title cards-title announcements-title'
    'cards cards announcements'
    'cards cards trending-title'
    'cards cards trending';
}

.cards-title {
    grid-area: cards-title;
    margin-bottom: -30px;
}

.cards-container {
    grid-area: cards;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 240px;  /* 200 + 2x 20px padding */
    gap: 30px;
}

.card {
    margin: 0;
    background-color: white;
    border-left: 10px solid orange;
    border-radius: 10px;
    padding: 20px 20px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h3 {
    margin-bottom: 5px;
}

.card .icons {
    display: flex;
    justify-content: right;
    gap: 30px;
}

.announcements-title {
    grid-area: announcements-title;
    margin-bottom: -30px;
}

.announcements-container {
    grid-area: announcements;
    border-radius: 10px;
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    height: min-content;
}

.announcement {
    padding: 10px;
    width: 20rem;
}

.announcement h3 {
    padding-bottom: 5px;
}

.announcement p {
    color: rgb(100, 100, 100);
}

.announcements-container hr {
    color: rgb(100, 100, 100);
    width: 280px;
    height: 0;
}

.trending-title {
    grid-area: trending-title;
    margin-bottom: -30px;
}

.trending-container {
    grid-area: trending;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: fit-content;
}

.trending {
    display: grid;
    grid-template-columns: 3em 4fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
    justify-items: left;
    align-items: center;
}

.trending p:last-of-type {
    color: rgb(100, 100, 100);
}

.trending img {
    grid-row: 1 / 3;
    height: 3em;
}