.flex-container {
    display: flex;
    padding: 16px;
    margin: 8px;
}

.flex-container div {
    flex: auto;
    padding: 16px;
    margin: 8px;
}

.big-green {
    background-color: greenyellow;
    border: 4px solid green;
}

.medium-blue {
    background-color: aqua;
    border: 4px solid blue;
}

.medium-red {
    background-color: crimson;
    border: 4px solid firebrick;
    
}

.small-orange {
    background-color: peachpuff;
    border: 4px solid orange;
}

.small-red {
    background-color: indianred;
    border: 4px solid red;
}

.small-blue {
    background-color: lightblue;
    border: 4px solid teal;
}