* {
    margin: 0;
    padding: 0;    
}
/* --- BODY --- */
body{
    display: flex;
    flex-direction: column;
}


/* --- HEADER --- */
header {
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* --- MAIN --- */
main {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 25vw;
    margin-bottom: 20px;
    gap: 20px;
}

.menu button {
    background-color: rgb(155, 155, 155);
    border-color: rgb(106, 106, 106);
}

.score-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.turn-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu > p, button {
    align-content: center;
    border-radius: 10px;
    height: 5vh;
    background-color: white;
    align-self: center;
}

.score-display {
    flex: 5;
    background-color: white;
    height: fit-content;
    padding: 7.5px;
    border-radius: 10px;
    text-align: center;
}

#edit-player1-name-btn,
#edit-player2-name-btn {
    flex: 1;
}

.info-display {
    flex: 3;
    background-color: white;
    border-radius: 10px;
    height: fit-content;
    padding: 7.5px;
    text-align: center;
}

.restart-btn {
    flex: 1;
    margin-left: 10px;
    width: fit-content;
    padding: 10px;
}

.grid {
    border: 2px solid black;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell {
    background-color: white;
    border: 2px solid black;
    width: 7.5vw;
    height: 7.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

/* --- NOTIFICATION WINDOW --- */
.overlay {
    display: none;
}

.overlay.active {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.modal button {
    background-color: lightgray;
    padding: 10px;
    width: 50%;
}

/* --- NAME CHANGE ---*/

#name-change-buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#name-change-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#name-change-field {
    padding: 10px;
}
