.odd {
    background-color: pink;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.common {
    font-size: 24px;
}

#two {
    color: blue;
    font-size: 36px;
}

#fore {
    background-color: lightgreen;
    font-weight: bold;
}